<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>279513793062-i294caj6kk6b81livgvd8i086as4jp8s.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.279513793062-i294caj6kk6b81livgvd8i086as4jp8s</string>
	<key>API_KEY</key>
	<string>AIzaSyBC367Cq9HYynUzEhV9DPMe4xLU2aq9edk</string>
	<key>GCM_SENDER_ID</key>
	<string>279513793062</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.CyberMind</string>
	<key>PROJECT_ID</key>
	<string>cybermind-7f843</string>
	<key>STORAGE_BUCKET</key>
	<string>cybermind-7f843.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:279513793062:ios:3a03802ec6754db0585ce7</string>
</dict>
</plist>